* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#tabBar {
    background-image: url(./images/tab_base_fill.png);
    background-repeat: repeat-x;
    height: 30px;
}
#tabContainer {
    float: left;
}

.tab {
    min-width: 160px;
    border-width:10px 23px 4px 12px;
    border-image: url(./images/tab_inactive.png) 10 23 4 12 fill;
    line-height: 16px;
    font-size: 14px;
    float: left;
    margin-right: -18px;
    z-index: 0;
}

#plus {
    min-width: 0px;
    text-align: center;
}

.active {
    border-image-source :url(./images/tab_active.png);
    position: relative;
    z-index: 1;
}

.toolBarRow {
    background-image: url(./images/urlbar_fill.png);
    background-repeat: repeat-x;
    clear: both;
}

#btnBack {
    width: 30px;
    height: 36px;
    float: left;
    background-image: url(./images/btn_back.png);
}

#btnForward {
    width: 30px;
    height: 36px;
    float: left;
    background-image: url(./images/btn_forward.png);
}

#btnRefresh {
    width: 34px;
    height: 36px;
    float: left;
    background-image: url(./images/btn_refresh.png);
}

/* URL bar */

#urlBarBg {
    background-image: url(images/urlbar_input_left.png),  url(images/urlbar_input_right.png);
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0%;
    margin-left: 94px; /* The sum of all buttons widths */
}

#urlBarBgFill {
    background-image: url(images/urlbar_input_center.png);
    background-repeat: repeat-x;
    margin: 0px 5px 0px 5px;
    padding-top: 7px;
    height: 36px;
}

#urlBar {
    vertical-align: center;
    line-height: 22px;
    white-space: nowrap;
    position: relative;
    top: -21px;
}

#urlBar:focus {
    outline: none;
}

#progressBar {
    opacity: 0;
    height: 22px;
    margin: 0px -2px 0px -2px;
    background-image: url(images/progressbar_left.png),  url(images/progressbar_right.png);
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0%;
}

#progressBarFill {
    height: 22px;
    margin: 0px 4px 0px 4px;
    background-image: url(images/progressbar_center.png);
    background-repeat: repeat-x;
}
