* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#tabBar {
    background-image: url(./images/tab_base_fill.png);
}

.tab {
    display: inline-block;
    min-width: 160px;
    height: 22px;
    line-height: 19px;
    margin: 0px 0px 0px 20px;
    background-image: url(images/tab_inactive_fill.png);
    background-repeat: repeat-x;
    padding-top: 8px;
    line-height: 19px;
    vertical-align: center;
    font-size: 14px;
}

.tabDeco {
    display: inline-block;
    background-image: url(images/tab_inactive_left.png), url(images/tab_inactive_right.png);
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0%;
    margin-right: -20px;
    white-space: nowrap;
}

#plus {
    padding-right: 23px;
}
#plus > .tab {
    min-width: 0px;
    text-align: center;
}

#tabBar .tabDeco.active > .tab {
    background-image: url(images/tab_active_fill.png);
}

#tabBar > .tabDeco.active {
    background-image: url(images/tab_active_left.png), url(images/tab_active_right.png);
    position: relative;
    z-index: 1;
}

.tabClose {
    display: inline-block;
    margin-right: 23px;
    width: 14px;
    height: 30px;
    background-image: url(images/tab_inactive_btn_close.png);
    margin-bottom: -8px;
}

#tabBar .tabDeco.active .tabClose {
    background-image: url(images/tab_active_btn_close.png);
}

.toolBarRow {
    background-image: url(./images/urlbar_fill.png);
    background-repeat: repeat-x;
    clear: both;
}

#btnBack {
    width: 30px;
    height: 36px;
    float: left;
    background-image: url(./images/btn_back.png);
}

#btnForward {
    width: 30px;
    height: 36px;
    float: left;
    background-image: url(./images/btn_forward.png);
}

#btnReload {
    width: 34px;
    height: 36px;
    float: left;
    background-image: url(./images/btn_reload.png);
}

/* URL bar */

#urlBarBg {
    background-image: url(images/urlbar_input_left.png),  url(images/urlbar_input_right.png);
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0%;
    margin-left: 94px; /* The sum of all buttons widths */
}

#urlBarBgFill {
    background-image: url(images/urlbar_input_center.png);
    background-repeat: repeat-x;
    margin: 0px 5px 0px 5px;
    padding-top: 7px;
    height: 36px;
}

#urlBar {
    vertical-align: center;
    line-height: 22px;
    white-space: nowrap;
    position: relative;
    top: -21px;
}

#urlBar:focus {
    outline: none;
}

#progressBar {
    opacity: 0;
    height: 22px;
    margin: 0px -2px 0px -2px;
    min-width: 6px;
    background-image: url(images/progressbar_left.png),  url(images/progressbar_right.png);
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0%;
}

#progressBarFill {
    height: 22px;
    margin: 0px 4px 0px 4px;
    background-image: url(images/progressbar_center.png);
    background-repeat: repeat-x;
}
